body {
  margin-top: 30px;
}

nav a{
  padding: 10px;
  background-color: #dddddd;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #ccc;
  margin-right: 20px;
}

section div {
  padding: 10px 0px 0px 0px;
}

.b {
  font-weight: bold;
}

div span, .ib {
  font-style: italic;
  font-weight: bold;
}

.picture {
  margin-top: 40px;
  width: 70%; 
}