body {
    margin-top: 30px;
}

nav a {
    padding: 10px;
    background-color: #dddddd;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #ccc;
    margin-right: 20px;
}

.container {
    margin: 50px 0px 0px 0px;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: flex-end;
}

.container picture {
    padding: 195px 10px 10px 10px;
    background: yellow;
    border: 1px solid black;
}

h1 {
    font-weight: bold;
    text-align: center;
}

.style__block {
    border: 1px solid green;
}

.picture__style {
    display: flex;
    justify-content: center;
}

.style__for__href {
    display: flex;
    justify-content: center;
}

.style__for__href a{
    color: white;
    background-color: blue;

    font-size: 25px;
    padding: 5px;
}

.blue__bold__caps {
    color: blue;
    font-weight: bold;
    text-transform: uppercase;
}

.style__for__href div {
    padding: 0px 15px 0px 0px;
}